@import 'https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap';
  
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}  

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  color: #212529;
  background-color: whitesmoke;
}

header {
  background-color: #111;
  height: 5rem;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
} 

img {
    width: 37rem; 
    height: 37rem; 
    object-fit: cover; 
}

figure, .figureList {
  width: 30rem;
}

figcaption {
    font-size: 1.2rem;
}


.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* column-gap: 0.1rem; */
  row-gap: 1.5rem;
  margin-top: 40px;
}

.btn {
  width: 0.5rem;
  height: 0.5rem;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  border-radius: 9px;
}

.section {
  height: 4rem;
  display: flex;
  align-items: center;
}

.section p {
  margin-left: 6rem;
}

